* {
  box-sizing: border-box;
}

body {
  width: 50rem;
  background-color: #ececec;
  font-family: "Noto Sans Mono", monospace;
  color: #00008b;
  max-width: 800px;
}

h1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  outline: 3px solid #00008b;
}

h1::before,
h2::before {
  content: "❯ ";
}

h1::after,
h2::after {
  content: "_";
}

.subheading {
  font-size: 1.5rem;
}

a:link {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  text-decoration: none;
  color: #00008b;
}

a:hover,
a:focus {
  outline: 2px solid #d74008;
  color: #d74008;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.responsibilities li::before {
  content: "— ";
}

.avatar {
  width: 16rem;
  border-radius: 100%;
}

.title::after {
  content: "_";
  animation: blink-caret 0.75s step-end infinite;
}

.red-text {
  color: #d74008;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.row ul {
  width: 24rem;
}

.button-primary {
  background-color: #00008b;
  border: none;
  color: #ececec;
  font-family: "Courier Prime", "Courier New", Courier, monospace;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

.button-primary:hover,
.button-primary:focus {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 2px solid #d74008;
  color: #d74008;
  font-family: "Courier Prime", "Courier New", Courier, monospace;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 120px;
  height: 40px;
}

nav {
  width: 100%;
  margin: auto;
}

nav .item:last-child {
  width: 33%;
}

nav .item {
  padding: 0px;
}

.skills {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.skills-icon {
  filter: invert(4%) sepia(59%) saturate(7300%) hue-rotate(243deg)
    brightness(168%) contrast(128%);
  width: 4rem;
  height: 4rem;
}

.icon {
  filter: invert(4%) sepia(59%) saturate(7300%) hue-rotate(243deg)
    brightness(168%) contrast(128%);
  max-width: 30px;
  max-height: 30px;
}

.icon:hover,
.icon:focus {
  filter: invert(23%) sepia(45%) saturate(5212%) hue-rotate(15deg)
    brightness(101%) contrast(94%);
}

label {
  display: block;
  margin-top: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 4px;
  border: 2px solid #00008b;
  width: 100%;
  background-color: transparent;
}

textarea {
  margin-bottom: 1rem;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border: 2px solid #d74008;
}

.social-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 1.5rem;
}

.social-link p {
  margin: auto 1rem;
}

/* Greater than 1280px */
@media (width >= 80em) {
  body {
    margin: 2rem auto 6rem auto;
  }

  .item:first-child {
    padding-right: 1.5rem;
  }

  .item:last-child {
    padding-left: 1.5rem;
  }

  section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  section .item:first-child {
    width: 62%;
  }

  section .item:last-child {
    width: 36.5%;
  }

  section:first-child .item:first-child {
    width: 36.5%;
  }

  section:first-child .item:last-child {
    width: 62%;
  }

  section:last-child .item:first-child {
    width: 62%;
  }

  section:last-child .item:last-child {
    width: 36.5%;
  }

  .progress {
    text-align: center;
  }

  .progress .circle,
  .progress .bar {
    display: block;
    background: #00008b;
    width: 64px;
    height: 64px;
    border-radius: 64px;
  }

  .progress .bar {
    position: relative;
    width: 12px;
    height: 100px;
    margin-left: 26px;
    border-radius: 0;
  }

  .progress .bar:first-child {
    margin-top: -51px;
  }

  .progress .bar:last-child {
    margin-bottom: -51px;
  }

  .progress .circle .label {
    display: inline-block;
    line-height: 60px;
    color: #ececec;
    font-size: 17px;
  }

  .progress .circle .title {
    color: #00008b;
    font-size: 13px;
    line-height: 18px;
    padding-left: 55px;
    display: block;
    width: calc(100vw - 130px);
    margin-top: -25px;
    text-align: left;
  }

  .ta-right {
    text-align: right;
  }
}

/* Less than 1280px */
@media (width <= 80em) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
    width: 100%;
    padding: 0.875rem;
    margin: 1rem auto 2rem auto;
  }

  .row {
    display: flex;
    flex-flow: column;
  }

  .row li {
    padding-bottom: 0.875rem;
  }

  section {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    margin: 0 0 1rem 0;
  }

  section:first-child {
    align-items: center;
  }

  section:last-child .item:first-child {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  section:last-child .item:last-child {
    width: 100%;
    margin-top: 1.5rem;
  }

  section .item:has(.progress) {
    display: none;
  }

  .skills {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    text-align: left;
  }

  .skills li {
    padding: 0.875rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-content: center;
  }
}
